html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: Lato;
  font-weight: lighter;
  background-color: #eee;
  margin: 0px 10%;
  word-break: break-word;
}
.button {
  cursor: pointer;
}
