.list{
    border: 1px black;
    padding: 10px;
    background-color: white;
    border: 1px black;
    list-style-type: none;
    margin-top: 2px;
}
.list__item{
    display:grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    grid-gap: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.list__item--done .list_taskContent{
    text-decoration:line-through;
}
.list__button{
    color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    background-color: green;
    border-style: none;
    grid-gap:5px;
    text-decoration:none;
    align-items: center;
}

.list__button:active{
    border: 2px solid #000;
}

.list__button--remove {
    justify-self: end;
    background-color: red;
    color: aliceblue;
    align-items: center;
    text-decoration:none; 
}

.list__button--remove:active{
    border: 2px solid #000;
}

.list__header{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.list_taskContent{
    grid-gap: 0px;
    padding-left: 0px;
}